.card-img-top{
    padding: 10px 45px;
    /* border-radius: 29px; */
}
.khandala{
    background-color: rgba(217,217,217,1);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top:5rem;
}
.khandala-sec{
    background-color: rgba(217,217,217,1);
    padding-left: 3rem;
    padding-right:3rem;
}
.copyright{
    background-color: #e8e8e8;
    color: #696969;
    display: block;
    padding: 16px;
}
.unset{
    color:#000;
}
.text-para{
    text-align: justify;
}
.head-text-start{
    text-align:left!important;
    font-weight: 600;
    margin-bottom: 21px;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.khandala1{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.services-holder{
   padding:30px 30px;
    margin-bottom: 30px!important;
}
.service{
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    min-width: 130px;
    max-width: 130px;
    margin: 4px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    display: flex;
    overflow: hidden;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow,transform;
}
.service:hover {
    transform: scale(1.2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.service .service-title{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 26px;
    width: 100%;
    color: #6b6b6b;
    font-size: 15px;
}
.service img{
    filter: saturate(1.5);
}
.line-height-1 {
    line-height: 1!important;
}
.sp-section-img {
    width: 100%!important;
}
.sp-section-img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
}
.main{
    font-family: PlayfairDisplay;
    font-size: 2em;
    font-weight: bold;
    margin: 13px 0 0px;
}
.main1{
    font-size: 1.286em;
    line-height: 1.67;
}
.complaint-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-slide{
   width:550px;
}
.img-slide1{
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
    margin-bottom: 60px;
    margin-left:8rem;
}
.aman{
backface-visibility: hidden;
transform: rotateY(-35deg) rotateX(15deg);
}
.quick-links-image-wrapper {
    width: 148px;
    height: 148px;
    padding: 40px;
    background-color: #faa652;
}
.dJXsSm {
    text-align: center;
    letter-spacing: 0px;
    color: rgb(149, 149, 149);
    opacity: 1;
    max-width: 45vw;
    margin: 1rem auto;
}
.image-slider {
    margin: auto;
    position: relative;
    cursor: pointer;

}
.lSSlideOuter{
    overflow: hidden;
    user-select: none;
}
.lSSlideWrapper{
    max-width: 100%;
    overflow: hidden;
}
.lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none;
}
.lightSlider:after, .lightSlider:before {
    content: " ";
    display: table;
}
.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>* {
    float: left;
}
.image-slider img {
    width: 100%;
    object-fit: cover;
    height: 158px;
}
.gallery{
    background-color: rgba(239, 240, 242, 1) !important;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 7rem;
    padding-top:3rem;
}
.gallery1{
    background-color: rgba(239, 240, 242, 1) !important;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    padding-top:3rem;
}
.col6{
    padding-top: 5rem;
 }
.col6 > .container4{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
    z-index: 1;
 }
 .col6 > .container4 >.shape{
   justify-content: center!important;
 }
 .col6 > .container4 >.shape h1{
    line-height: 1.35;
    letter-spacing: -.01em;
    font-size: 1.9375rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
 }
 .col6 > .container4 >.shape p{
    margin-top: 0px;
    color: #869ab8;
    font-size: 1.1875rem;
    margin-bottom: 2.5rem!important;
    margin-top: 0;
    text-align: center;
    line-height: 1.6;
    letter-spacing: -.02em;
 }
.col6 > .container4 >.shape1{
    margin-top: 3rem;
    box-shadow:4px 4px 40px rgba(150, 121, 121, 0.6);
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 6px;
 }
.col6 > .container4 > .shape1 >.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
 }
 .text h1{
    margin-top: 0px;
    font-size: 40px;
    font-weight: bold;
    color:#f7961e;
    text-align: center;
    font-family: serif;
 }
 .text p{
    margin-top: 0px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: lighter;
    color:grey;
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin-bottom: 1.5rem;
 }#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -22px;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
#prev{
    position: absolute;
    left:130px;
}
#next {
    position: absolute;
  right: 9.5%;
  border-radius: 3px 0 0 3px;
}
.col7{
    padding-top:12rem;
    background-color: #f1f4f8;
 }
 .section-title {
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 5px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.section-title p {
    margin-top:30px;
    margin-bottom: 0;
    color: #122f57;
}
.count-box {
    padding: 30px;
    width: 100%;
}
.count-box i {
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
}
.count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
    margin-left: 35px;
}
.count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #122f57;
}
.floating-button {
    position: fixed;
    bottom: 106px;
    right: 60px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #6eb756;
    border: 0;
    box-shadow: 0 5px 10px 0 #5e6ab040;
    cursor: pointer;
    outline: none;
    z-index: 99;
}
.tooltip-container {
    position: relative;
  }
  
  .tooltip-container .popup-cont {
    text-align: center;
    z-index: 1;
    /* bottom: 100%; */
    bottom: 125px;
    right: 60px;
    margin-left: -46px;
    display: none;
    position: absolute;
    background-color: rgba(26,26,26,.97);
    color: hsla(0,0%,100%,.4);
    padding: 4px 16px;
    width: 330px;
    height: 171px;
    border-radius: 8px;
    padding: 1em 0.8em 0;
    border: 0.12em solid #96ffff;
  }
  .titleContainer{
  color:#96ffff;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 21px;
  }
  .content-elem{
      color: #fff;
      font-size:13px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 1.2em;
  }
  .btn-cont{
      font-size: 15px;
      padding: 3px 30px;
      color: hsla(0,0%,100%,.8);
      cursor: pointer;
      display: inline-flex;
      font-family: inherit;
      font-weight: 500;
      border-radius: 22px;
      background-color: rgba(26,26,26,.6);
      border: 0.0833rem solid #4d4d4d;
      box-sizing: border-box;
  }
  .game-number{
      color: #655f5f;
      font-size: 13px;
      font-weight: 400;
  }
  .tooltip-container:hover .popup-cont{
    display:block;
  }
  .btn-cont:hover{
    background-color: hsl(0deg 13% 84% / 58%);
  }
  .popup-cont:before {
    border-top-color: #96ffff!important;
    margin-left: 0.8em;
}
.popup-cont:before {
    border: 8px solid transparent;
    content: " ";
    height: 0;
    right: 2.5em;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 1px);
    width: 0;
}
.popup-cont:after {
    border-top-color: #1a1a1a!important;
    margin-left: 0.8em;
    transform: translateY(-0.2em);
}

.popup-cont:after {
    border: 8px solid transparent;
    content: " ";
    height: 0;
    right: 2.5em;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 1px);
    width: 0;
}

@media screen and (max-width: 576px) {
    .shape2{
        height: 700px!important;;
    }
    .shape3{
        border-radius: 0px!important;
    }
    .img-slide{
        margin-top: 3rem;
        margin-bottom: 0px;
        margin-left:0.5rem;
        transform: none!important;
    }
    .img1{
        transform: none!important;
    }
    .slider{
        display: none;
    }
    .footer-logo{
        width:300px!important;
    }
    .quick-links-image-wrapper {
        width: 110px;
        height: 110px;
        padding: 20px;
        background-color: #faa652;
    }
    .gallery {
        padding-left: 1rem; 
        padding-right: 1rem; 
    }
  } @media screen and (max-width: 768px){
    .shape2{
        height: 700px!important;;
    }
    .shape3{
        border-radius: 0px!important;
    }
    .img-slide{
        margin-top: 3rem;
        margin-bottom: 0px;
        margin-left:0.5rem;
        transform: none!important;
    }
    .img1{
        transform: none!important;
    }
    .slider{
        display: none;
    }
    .footer-logo{
        width:300px!important;
    }
}

